Questions
*.logs
.aws
*.log
.venv/
__pycache__/
reservation.json
TODO.txt
GITHUB-URL.txt
.DS_Store
.env
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
*.tfplan
*.tfvars.json
crash.log
secret.tfvars
secret.tf
crash.*.log
terraform.tfstate.lock.info
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.vault_pass
sec.yaml
secret.yml
.vault_pass.txt
*.pem
sec.yaml
terraform.tfstate
terraform.tfstate.*
*.tfvars
vault.yml